.admin-layout {
    display: flex;
    min-height: 80vh;
    background: #f5f5f5;
  }
  
  /* SIDEBAR */
  .admin-sidebar {
    width: 240px;
    background: #1e1e1e;
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .admin-title {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
  
  .admin-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .admin-nav a {
    color: #ddd;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.4rem 0;
    transition: 0.2s;
  }
  
  .admin-nav a:hover {
    color: white;
    padding-left: 4px;
  }
  
  /* CONTENT */
  .admin-content {
    flex: 1;
    padding: 2rem;
    background: white;
    border-left: 1px solid #ddd;
  }
  
  .admin-content h1 {
    margin-bottom: 1rem;
  }
  .admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
    background: white;
  }
  
  .admin-table th,
  .admin-table td {
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .admin-table th {
    background: #f0f0f0;
    font-weight: bold;
  }
  
  .admin-table tr:hover {
    background: #fafafa;
  }
  .admin-users-page{
    color: black;
  }
    