.login-page {
  min-height: 80svh;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.login-container {
  width: 400px;
  max-width: 90vw; 
  padding: 40px 50px;
  background: linear-gradient(180deg, #e6c46a, #c9a64a);
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 0 auto; /* középre */
}


.login-container h1 {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 30px;
  color: black;
}

.login-container label {
  display: block;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 6px;
  color: #443c19;
}

.login-container input {
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #443c19;
  margin-bottom: 25px;
  background: transparent;
  color: #121212;
  outline: none;
}

.login-container input::placeholder {
  color: #776f35;
  font-style: italic;
}

.btn {
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: 10px 0;
  font-weight: 900;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 12px;
  color: #fff;
  background-color: #333;
  transition: background-color 0.3s ease;
}

.btn.primary:hover,
.btn.secondary:hover {
  background-color: #555;
}



.or {
  font-size: 11px;
  font-weight: 700;
  color: #5c5321;
  margin: 15px 0;
}

/* Hibaszöveg */
.errmsg {
  color: red;
  font-size: 13px;
  margin-bottom: 15px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}



