.profile-page {
  background-color: #0b0b0b;
  color: #e6c068;
  min-height: 100vh;
  padding: 40px 60px;
}

/* Header */
.profile-header {
  margin-left: 15%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.username {
  font-size: 22px;
  font-weight: bold;
}

/* Tabs */
.profil-tabs {
  margin-left: 15%;
  margin-right: 15%;
  background: linear-gradient(90deg,#7A5C1E,#C9A64D,#DED086,#C9A64D,#8C6B2F);
  border-radius: 25px;
  min-height: 30px;
  padding: 8px 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.profil-tabs button {
  background: #433310;
  color: #DAC28A;
  border: none;
  border-radius: 25px;
  padding: 6px 16px;
  cursor: pointer;
  font-weight: bold;
}
.profil-tabs button.active  {
  background: #DAC28A;
  border: solid black 2px;
  color: #433310;
  padding: 6px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

/* Content */
.profile-content {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  margin-left: 100px;
}

/* Description */
.description-box {
  background-color: #111111;
  margin-left: 190px;
  width: 300px;
  border: 2px solid #caa24d;
  padding: 15px;
}

.description-box h3 {
  text-align: center;
  margin-bottom: 10px;
}
.description-box p {
  margin-top: 5%;
  text-align: left;
  color: rgb(230, 229, 229);
}
/* Favorites */
.favorites h2 {
  background: -webkit-linear-gradient(50deg,#C9A64D,#DED086,#C9A64D,#8C6B2F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 2%;
  flex: 1;
}

.movie-list {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.movie-list img {
  border-radius: 6px;
}

/* Stats */
.stats {
  display: flex;
  gap: 80px;
  margin-top: 20px;
}

.stats h1 {
  font-size: 48px;
  margin: 0;
}

.stats p {
  margin-top: 5px;
  font-size: 14px;
}
