.register-page {
  min-height: 80svh;
  display: flex;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  background: #0b0b0b;
}

.register-logo {
  width: 180px;
  margin-bottom: 30px;
  opacity: 0.95;
}
.register-card {
  display: flex;
  width: 700px;
  height: 360px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}

/* BAL OLDAL */
.register-left {
  flex: 1;
  background: #1a1a1a;
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-btn {
  padding: 10px 28px;
  background: #2c2c2c;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.2s;
}

.login-btn:hover {
  background: #3a3a3a;
}

/* JOBB OLDAL */
.register-right {
  flex: 1;
  background: linear-gradient(120deg, #DBC77E 10%, #756A43 100%);
  padding: 30px;
}

.register-right h2 {
  margin-bottom: 50px;
  color: black;
  font-weight: 900;
  font-size: 30px;
}

.register-right form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register-right label {
  display: block;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  color: #443c19;
  font-style: italic;
}

.register-right input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #444;
  padding: 6px 0;
  outline: none;
}

.register-btn {
  margin-top: 20px;
  align-self: center;
  padding: 10px 30px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight:bold ;
  font-size: 1rem;
  background: #2c2c2c;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.2s;
}

.register-btn:hover {
  background: #1a1a1a;
}
.toggle-password-reg {
  position: absolute;
  right: 20px;
  top: 63%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #ccc;
  transition: 0.2s ease;
  margin-top: -6px;
}
.input-group input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border-radius: 8px;
  border: 1px solid #444;
  background: black;
  color: white;
  font-size: 1rem;
}

.toggle-password:hover {
  color: white;
}
.input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none; 
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important; 
}

input[type="password"]::-webkit-password-toggle-button {
  display: none !important; 
}
