/* Grid a filmkártyákhoz */
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
  }
  
  /* Filmkártya */
  .movie-kartya {
    background: #120f0d;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  .movie-kartya:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px rgba(219, 199, 126, 0.55); /* arany fény */
    filter: brightness(1.15);
    z-index: 5;
  }
  
  
  /* Poszter */
  .movie-poster {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.5rem;
  }
  
  /* Skeleton container */
  .skeleton-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
  }
  
  /* Skeleton kártya */
  .skeleton {
    height: 350px;
    border-radius: 12px;
    background: linear-gradient(90deg, #2a2a2a, #3a3a3a, #2a2a2a);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
  }
  
  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  