.error-page {
  width: 100%;
  min-height: 80svh;
  background: black;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* háttérkép */
.error-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  z-index: 0;
}

/* SZÖVEG */
.error-content {
  position: relative;
  z-index: 1;
  text-align: center;
  width: min(90%, 900px);
  padding: clamp(12px, 3vw, 24px);
  margin-top: clamp(40px, 10vh, 140px);
  
  
}

/* cím */
.error-title {
  font-size: clamp(1.8rem, 4vw, 3.5rem);
  font-weight: 700;
  background: linear-gradient(90deg, #DBC77E 0%, #756A43 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

/* 404 */
.error-code {
  font-size: clamp(3.5rem, 8vw, 7rem);
  font-weight: 900;
  color: white;
  margin: 10px 0;
}

/* szöveg */
.error-text {
  font-size: clamp(0.95rem, 2.5vw, 1.6rem);
  color: #d6d6d6;
  margin-bottom: clamp(16px, 4vw, 35px);
  text-transform: uppercase;
}

/* gomb */
.error-button {
  display: inline-block;
  background: linear-gradient(90deg, #DBC77E 0%, #756A43 100%);
  padding: clamp(10px, 2.5vw, 14px) clamp(24px, 5vw, 40px);
  border-radius: 10px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}


.error-button:hover {
  background: #ffea7a;
  box-shadow: 0 0 20px rgba(255, 234, 122, 0.6);
}
