.footer {
  background: #0f0f0f;
  color: white;
}

/* Felső arany csík */
.footer-top-line {
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, #DBC77E 0%, #756A43 100%);
  margin-bottom: 30px;
}

/* Tartalom */
.footer-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Bal oldal – logó */
.footer-logo {
  margin-top: 45px;
  margin-left: -100px;
  height: 50px;
  width: auto;
  object-fit: contain;
}

/* Jobb oldal – elérhetőségek */
.footer-right {
  margin-top: 25px;
  text-align: right;
}

.footer-title {
  font-size: 1.3rem;
  font-weight: 700;
  background: linear-gradient(90deg, #DBC77E 0%, #756A43 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.footer-right p {
  margin: 4px 0;
  font-size: 1rem;
  color: #ccc;
}
/* Készítette rész */
.footer-madeby {
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(90deg, #DBC77E 0%, #756A43 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  letter-spacing: 0.5px;
  opacity: 0.9;
}
