.hero {
  width: 100%;
  height: 750px; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ugrasgomb{
   background: linear-gradient(90deg, #DBC77E 0%, #756A43 100%);
  color: black;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s ease;
  text-decoration: none;
}

/* HÁTTÉRKÉP */
.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.55);
}


/* SZÖVEG A KÉP FELETT */
.home-hero-content {
  position: absolute;
  top: 35%; 
  transform: translateY(-50%);
  text-align: center;
  color: white;
  z-index: 2;
}


/* ARANY VONALAK */


/* CÍM */
.home-hero-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 10px 0;
}

.home-hero-content h1 span {
  background: linear-gradient(90deg, #DBC77E 0%, #756A43 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* AL-CÍM */
.home-hero-content p {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.ugrasgomb:hover{
  background: #ffea7a;
}
.udvozlo-szoveg {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  100% { border-color: white; }
}
.udvozlo-leiras{
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 0 5px #c4c4c4, 0 0 10px #a5a1a2, 0 0 20px #dbd6d8, 0 0 40px #faf6f8, 0 0 80px #f5f0f2;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
      text-shadow: 0 0 5px #fcf7f9, 0 0 10px #e0dcde, 0 0 20px #eee8ea, 0 0 40px #f8f6f7, 0 0 80px #f7f4f5;
  }
  100% {
      text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
  }
} 
