.hero {
  width: 100%;
  height: 750px; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ugrasgomb{
   background: linear-gradient(90deg, #DBC77E 0%, #756A43 100%);
  color: black;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s ease;
  text-decoration: none;
}

/* HÁTTÉRKÉP */
.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.55);
}


/* SZÖVEG A KÉP FELETT */
.home-hero-content {
  position: absolute;
  top: 35%; 
  transform: translateY(-50%);
  text-align: center;
  color: white;
  z-index: 2;
}


/* ARANY VONALAK */


/* CÍM */
.home-hero-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 10px 0;
}

.home-hero-content h1 span {
  background: linear-gradient(90deg, #DBC77E 0%, #756A43 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* AL-CÍM */
.home-hero-content p {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.ugrasgomb:hover{
  background: #ffea7a;
}

/* Udvozlo Effectek */
/* Udvozlo Effectek */
.udvozlo-szoveg {
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  cursor: pointer;
  display: inline-block;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 10s steps(44) infinite,
             blinkTextCursor 500ms steps(44) infinite;
}

/* Typewriter: 4s gépelés + 4s látható + 2s reset = 10s */
@keyframes typewriter {
  0% { width: 0; }
  40% { width: 100%; }   /* 4s gépelés */
  80% { width: 100%; }   /* 4s teljes szöveg látható */
  100% { width: 0; }     /* reset */
}

/* Cursor villogás */
@keyframes blinkTextCursor {
  from { border-right-color: rgba(255,255,255,0.75); }
  to { border-right-color: transparent; }
}




.udvozlo-leiras{
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #f5f0f2;
  animation: glow 1.5s infinite alternate;
  font-style: italic;
}

@keyframes glow {
  0% {
      text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000;
  }
  100% {
      text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 160px #ff0000;
  }
} 
