.hero {
  width: 100%;
  height: 750px; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ugrasgomb{
   background: linear-gradient(90deg, #DBC77E 0%, #756A43 100%);
  color: black;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s ease;
  text-decoration: none;
}

/* HÁTTÉRKÉP */
.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.55);
}


/* SZÖVEG A KÉP FELETT */
.hero-content {
  position: absolute;
  top: 35%; 
  transform: translateY(-50%);
  text-align: center;
  color: white;
  z-index: 2;
}


/* ARANY VONALAK */


/* CÍM */
.hero-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 10px 0;
}

.hero-content h1 span {
  background: linear-gradient(90deg, #DBC77E 0%, #756A43 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* AL-CÍM */
.hero-content p {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.ugrasgomb:hover{
  background: #ffea7a;
}
