#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; 
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}


.movie-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* Skeleton animáció */
@keyframes loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton {
  background-size: 400px 100%;
}
