#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; 
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}


.movie-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* Skeleton animáció */
@keyframes loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton {
  background-size: 400px 100%;
}
.fullscreen-loader {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, #020203, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: none; 
}
/* .admin-dashboard {
  padding: 20px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.stat-card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-align: center;
}
.stat-card .icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
  opacity: 0.7;
}
.stat-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(224, 201, 123, 0.6)
}

.stat-card h3 {
  margin-bottom: 10px;
  font-size: 1.1rem;
  opacity: 0.8;
} */



